table{
    width: 100%;
}
.inputData{
    width: 98%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputYear{
    width: 48.5%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

button[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block
}

.center{
    width: 100%;
    background-color: #4CAF50;
    text-align: center;
}
.header{
    font-size: 25px;
}

button:hover[type=submit] {
    background-color: #45a049;
}